// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/stock/stock";

@import "../pages/stockScreener/stockScreener";

.bg-good {
    background: color($colors, good, base)
}

.bg-bad {
    background: color($colors, bad, base)
}

.bg-warning {
    background: color($colors, warning, base)
}