<ion-header>
  <ion-navbar>
    <ion-title>Value Investing Mentor</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="stock">
  <h2>Welcome to Value Investing Mentor!</h2>
  <p>
    This starter project comes with simple tabs-based layout for apps
    that are going to primarily use a Tabbed UI.
  </p>
  <p>
    Take a look at the <code>app/</code> directory to add or change tabs,
    update any existing page or create new pages.
  </p>
</ion-content>
