<ion-item-sliding>
    <ion-item *ngIf="searchResult">
        <h2>
            {{searchResult.stockSymbol}} -- {{searchResult.name}}
        </h2>
        <ion-row>
            <ion-col>
                <ion-row>
                    <ion-col>
                        <ion-badge [ngClass]="{'bg-good': isLastPriceGood, 'bg-bad': isLastPriceBad, 'bg-warning': isLastPriceWarning }">
                            {{searchResult.lastPrice}}
                        </ion-badge><br />
                        Last Price
                    </ion-col>
                    <ion-col>
                        <ion-badge>
                            {{searchResult.mosPrice}}
                        </ion-badge><br />
                        MOS Price
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-badge [ngClass]="{'bg-good': isPaybackTimeGood, 'bg-bad': isPaybackTimeBad, 'bg-warning': isPaybackTimeWarning }">
                            {{searchResult.paybackTime}}
                        </ion-badge><br />
                        Payback Time
                    </ion-col>
                    <ion-col>
                        <ion-badge [ngClass]="{'bg-good': isGrowthRateGood, 'bg-bad': isGrowthRateBad, 'bg-warning': isGrowthRateWarning }">
                            {{searchResult.growthRate}}
                        </ion-badge><br />
                        Growth Rate
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-item>
    <ion-item-options side="right">
        <button primary>
            <ion-icon name="trending-up"></ion-icon>
            Details
        </button>
    </ion-item-options>
</ion-item-sliding>