<ion-card *ngIf="searchResult">
    <ion-card-header>
        {{searchResult.stockSymbol}} -- {{searchResult.name}}
    </ion-card-header>
    <ion-row>
        <ion-col>
            <ion-badge [ngClass]="{'bg-good': isLastPriceGood, 'bg-bad': isLastPriceBad, 'bg-warning': isLastPriceWarning }">
                {{searchResult.lastPrice}}
            </ion-badge><br />
            Last Price
        </ion-col>
        <ion-col>
            <ion-badge>
                {{searchResult.mosPrice}}
            </ion-badge><br />
            MOS Price
        </ion-col>
        <ion-col>
            <ion-badge [ngClass]="{'bg-good': isPaybackTimeGood, 'bg-bad': isPaybackTimeBad, 'bg-warning': isPaybackTimeWarning }">
                {{searchResult.paybackTime}}
            </ion-badge><br />
            Payback Time
        </ion-col>
        <ion-col>
            <ion-badge [ngClass]="{'bg-good': isGrowthRateGood, 'bg-bad': isGrowthRateBad, 'bg-warning': isGrowthRateWarning }">
                {{searchResult.growthRate}}
            </ion-badge><br />
            Growth Rate
        </ion-col>
        <ion-col>
            <ion-icon name="arrow-dropright"></ion-icon>
        </ion-col>
    </ion-row>
</ion-card>