<ion-header>
  <ion-navbar>
    <ion-title>
      Stock Screener
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="stockScreener">
    <!-- What looks better? -->
    <!-- Sliding List -->
    <!--<ion-list>
      <stock-screener-result *ngFor="let result of results"  [searchResult]="result"></stock-screener-result>
    </ion-list>-->

    <!-- or Cards -->
    <stock-screener-result *ngFor="let result of results"  [searchResult]="result"></stock-screener-result>

</ion-content>
